.submit {
  background: #4e9dd5;
  color: #fff;
  font-weight: bold;
  font-size: 1em;

  padding: 5px;
  margin: 10px;
}

.purchaseHeader {
  color: #FFF;
  padding-left: 10px;
  padding-bottom: 3px;
  background: #0094ff;
  border-radius: 10PX;
  padding-left: 15px;
  font-size: 1.6em
}