.username {
  width: 180px;
  background: #ddd;
  font-size: 12px;
  padding: 3px;
  border: 1px solid #ccc;
}

.password {
    width: 180px;
    background: #ddd;
    font-size: 12px;
    padding: 3px;
    border: 1px solid #ccc;
}
.label-input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  text-align: right;
  position: absolute;
  top: 14px;
  left: -105px;
  width: 80px;
}

.validate-input {
  position: relative;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
}
.m-b-26 {
  margin-bottom: 26px;
}
input.input100 {
  height: 45px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  background: 0 0;
  padding: 0 5px;
}